<script type="text/javascript" src="/js/store2.js"></script>
<script type="text/javascript" src="/js/howler.core.js"></script>
    <nav class="nav">
        <div class="logo">
            <img src="images/arrow_logo.svg" class="logo svg" alt="KSCU Logo" width="150" height="65"></img>

            {{ partial "show.html" . }}
        </div>
        {{ partial "tracks.html" . }}
        </div>

    </nav>
<style>
    #left-side {
        display: flex;
        align-items: right;
        text-align: right;
        margin: auto var(--gap);
        margin-left: 5px;
    }

    .header {
        overflow: visible;
        align-items: left;
        display: inline;
        margin: auto var(--gap);
        margin-top: 12px;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
        z-index: 4;
    }

    .main {
        padding-top: 0px;
    }

    .entry-footer {
        display: none;
    }

    .view-page {
        padding-top: 0px;
    }

    #top {
        margin-top: 20px;
    }

    .logo.svg {
        margin-left: 12px;
        margin-right: 0px
    }
</style>