{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <script>
            request = `/.netlify/functions/song?name="Bob"`
            fetch(request).then((response) => {
                console.log(response);
                response.json().then((data) => {
                    console.log(data);
                });
            });
        </script>
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}